<div class="btn-group">
  <div >
    <button class = "btn btn-info"> <a routerLink="create-news" routerLinkActive="active" class="nav-link" >Add News</a></button>
  </div>
</div>
<table mdbTable class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Content</th>
      <th scope="col">Link</th>
      <th scope="col">Validity Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of news" >
      <td>{{item.subject}}</td>
      <td>{{item.content}}</td>
      <td>{{item.news_link}}</td>
      <td>{{item.validity_date}}</td>
      <td>
        <button (click) = "updateNews(item.id)"  class = "btn btn-info"> Update</button>
        <button (click) = "deleteNews(item.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        <button (click) = "newsDetails(item.id)"  class = "btn btn-info" style="margin-left: 10px"> View</button>
    </td>
    </tr>

  </tbody>

</table>

